h1 {
    color: blue;

}
div{
    text-align: center;
}

table{
    align-content: center;
    margin: 0 auto;
    text-align: center;
}
tr{
    align-content: center;
}

img{
    display:block;
    width: 80%;
    margin:auto;
}
ul{
    align-items: flex-start;
}
li {
    padding: 0; /* Elimina espacio interno en los elementos de la lista */
    margin: 0; /* Elimina espacio externo en los elementos de la lista */
}